.navbar{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    height: 60px;
    background-color: aliceblue;
    box-shadow: 3px 3px 2px 2px rgb(170, 188, 194);
}
.Sym1M{
    float: left;
    margin-top: 7px;
    margin-left: 25px;
    width: 4%;
    height: 45px;
}
.SymM{
    float: left;
    width: 65%;
    height: 60px;
    margin-left: 20px;
    color: rgb(0, 145, 212);
}
.l{
    float: left;
    height: 60px;
    width: 25%;
}
.no{
    float: left;
    width: 50%;
    flex-direction: row;
    padding-right: 15px;
    color: rgb(0, 145, 212);
}
.Not{
    float: left;
    margin-right: 8px;
    flex-direction: row;
}
.Eng{
    float: left;
    width: 25%;
    flex-direction: row;
    text-align: center;
    color: rgb(0, 145, 212);
    border-style: solid;
    border-width: medium;
    border-radius: 15px;
}